.entirePage{
padding-left: 100px;
padding-right: 100px;
}
.section1{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    
}
.section1Right{
    display: flex;
    color: white;
    justify-content: space-between;
    gap: 15px;
    font-size: small;
    
}
.headerLogo{
    margin-top: -1px; 
}
.section2{
    display: flex;
    padding-top: 70px;
    padding-bottom: 50px;
    justify-content: space-between;
    
}
.image{
    display: flex;
    padding-top: 50p;
}
.section2Left{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
button{
    height: 25px;
    width: 75px;
    background-color: rgb(51, 51, 231);
    color: white;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}
.pics{
    display: flex; 
    padding-bottom: 23px;
    
    
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.text{
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
blockquote{
    font-family: Arial, Helvetica, sans-serif;
}
.section3{
    padding-top: 100px;
    background-color: rgb(211, 206, 206);
}
.section4{
    display: flex;
    margin-top: 150px;
    background-color: rgb(101, 151, 245);
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

}
.bottomButton{
    display: flex;
}
.bottomText{
    display: flex;
    flex-direction: column;
}