.header-logo{
    font-size: 24px;
}
.topButton{
    background-color: #3882F6;
    color: white;
    height: 32px;
    width: 100px;
    border-radius: 9%;
}
li{
    font-size: 18px;
}
.big-image{
    width: 400px;
    height: 213px;
    
}
.awesome{
    font-size: 48px;
    font-weight: 800;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header{
color: white;
background-color: #1F2937;
display: flex;
flex-direction: column;
padding-left: 100px;
padding-right: 100px;
padding-bottom: 150px;
flex: 1;
}
.top-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.signup-text{
    display: flex;
    flex-direction: column;
    
    width: 400px;
    

}
.top-links{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 100px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.four-pictures{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 75px;
}
.pictures{
    display: flex;
    text-align: center;


}
.pic-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
    padding: 25px;
}
img{
    width: 125px;
    height: 125px;
    border-radius: 5%;
}
.quote-text{
    font-size: 36px;
}
.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
}
.call-to-action{
align-items: center;
font-size: 20px;
color: white;


}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 100px;
    background-color: rgb(55, 93, 231);
    margin: 100px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 40px;
    border-radius: 5%;
    
}
.actualHeader{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    padding: 40px;
}